@mixin clearfix {
  &::after{
    content: "";//we would not to show this element on the page
    display: table;// the standard version of the clearfix
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50% , -50%);
}