//COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-secondary-light:#ffb900;
//orange
$color-secondary-dark:#ff7730;
$color-secondary-dark:#ff7730;
//blue
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#2564fa;

$color-white:#fff;
$color-gray-dark:#777;
$color-black:#000;
$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;


//FONTS
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
