.header {
  position: relative;
  height: 95vh;
  background-image:linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)) , url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0% 0%,100% 0%,100% 75vh,0% 100%);
  &__logo-box{
    position: absolute;
    top:1rem;
    left: 1rem;
  }
  &__logo{
    height: 11rem;
    width: 11rem;
  }
  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

}